.header {
    display: flex;
    gap: 16px;
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 1;

    img.logo {
        max-height: 100%;
    }

    .menu {
        flex: 1;
        min-width: 0;
    }
}
