.container {
    display: grid;
    width: 100%;
    gap: 16px;
    padding: 16px;
    margin: 0 auto;
    flex: 1;
    height: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
}
